
  @import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400&family=Tektur:wght@400;700&display=swap');


$corPrimaria:#001C30;
$corSecundaria:#071114;
$corTercearia:#64CCC5;
$corQuarternaria:#DAFFFB;
$pequeno:375px;
$medio:720px;
$grande:1024px;
$extraGrande:1680px;
$tamanhoFonteNormal:1.2rem;
$tamanhoFonteMedia:2rem;
$meioEm:0.5em;
$umEm:1em;
$umEmMeio:1.5em;
$doisEm:2em;
$tresEm:3em;
$fontePrimaria:'Space Grotesk';
$fonteSecundaria:'Tektur';